body {
  text-align: center;
  background: #111;
  color: white;
  font-family: Arial;
}

canvas {
  background: #333;
  display: block;
  margin: 0 auto;
  border: 3px solid white;
}
#scoreBoard {
  font-size: 20px;
  margin-bottom: 10px;
}


